@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=PT+Serif&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
    margin: 0;
    padding: 0;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.top_bar{
    display: flex;
    flex-direction: row;
    gap: 100px;
    background: #9628EA90;
    padding: 2%;
    justify-content: center;
    font-family:'PT Serif', serif;
   
    

}
.applybutton{
    background-color: #eedbf7;
    border: 3;
    border-color: rgb(185, 18, 240);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: wavy;
    /* display: inline-block; */
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 10%;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    box-shadow: 0 9px rgb(169, 37, 230);
    
}
.applybutton:hover {background-color: #c26ad6}

.applybutton:active {
  background-color: #cd98ea;
  box-shadow: 0 10px rgb(168, 124, 185);
  transform: translateY(4px);
}  

.top_text{
    padding: 15px 32px;
    font-size: 30px;
}
.sections{
    display:flex;
    flex-direction: row;
    gap: 100px;
    background-color: #AE51CF50;
    justify-content: center;
    padding: 1%;
    font-family:'Merriweather', serif;
    font-size: small;
   
    

}
.apply{
    justify-content: right;
}
main{
    padding: 8% 10% 20% 10%;
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 172, 223);
    
   
}
.intro{
    font-family: 'Merriweather', serif;
    font-size:large;
    padding: 20px;
    background-color: #F1DEF460;
    
}
.introp{
    font-family: 'Merriweather', serif;
    font-size:medium;
    background-color: #F1DEF460;
    padding: 20px;
    line-height: 1.5cm;
}
footer{
    bottom: 0;
    padding: 10% 20% 0% 10%;
    line-height: 1.5cm;
    background-color: antiquewhite;
    
}

#bookingbutton{
    display: inline-block;
  padding: 7px 10px 7px 10px;
  font-size: 20px;
  font-family: 'Merriweather', serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(169, 37, 230);
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: 3%;
}
#bookingbutton:hover {background-color: #c26ad6}

#bookingbutton:active {
  background-color: #cd98ea;
  box-shadow: 0 10px rgb(168, 124, 185);
  transform: translateY(4px);
}
